@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap');

body {
  color: black;
  width: 100%;
  height: 100%;
}
.main {
  background: linear-gradient(45deg, black, rgb(36, 53, 53));
  height: 100%;
}

.header {
  background: linear-gradient(rgba(100, 100, 100, 0.5), teal 95%, aqua);
  border: 0px;
  border-bottom: 0px whitesmoke solid;

  border-bottom-left-radius: 25%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  box-shadow: 0 5px 16px rgb(53, 255, 255);
}
.toggle {
  color: aqua;
}
.gg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.collapsing {
  animation: bounce;
  animation-duration: 1s;
}
